<div class="container">
    <div class="row">
        <div class="col-4 text-center px-0">
            <div class="menuItem buttonStyle">
                <a href="help.html">Aiuto <i data-feather="help-circle"></i></a>
            </div>
        </div>
        <div class="col-4 text-center px-0">
            <div class="menuItem buttonStyle">
                <a href="logout.html">Esci <i data-feather="unlock"></i></a>
            </div>
        </div>
        <div class="col-4 text-center px-0">
            <div class="menuItem buttonStyle">
                <a href="parking-list.html"> Elenco <i data-feather="list"></i></a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace();
</script>